<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>E3 Lithium</title>
</head>
<body>
    <div class="header">
        <div id = headerSocials>
            <ul>
                <div class="hover"><li><a href="facebook.com" class="fa fa-instagram"></a></li>  </div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-twitter"></a></li></div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-facebook"></a></li></div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-linkedin"></a></li></div>
                <div class="hover"><li><a href="facebook.com"> <b>TSX.V:</b> ETL</a></li></div>
                <div class="hover"><li><b>FSE:</b> OW3</li></div>
                <div class="hover"><li><b>OTCQX:</b> EEMMF</li></div>
            </ul>
        </div>
    </div>
    <div class="backGroundMenu">
        <div class="menu">
            <div class="companyName"><a href="google.ca"><img src="../images/whiteE3LithiumLogo.svg"></a></div>
            <div class="borderHover"><a href="google.ca">Corporate</a>
                <div class="dropdown-content">
                    <a href="#">About us</a>
                    <a href="#">Management</a>
                    <a href="#">Board & Advisors</a>
                    <a href="#">Corporate Directory</a>
                </div>
            </div>
            <div class="borderHover"><a href="google.ca">Our Assets</a></div>
            <div class="borderHover"><a href="google.ca">Sustainability</a></div>
            <div class="borderHover"><a href="google.ca">Investors</a></div>
            <div class="borderHover"><a href="google.ca">Newsroom</a></div>
            <div class="borderHover"><a href="google.ca">Contact</a></div>
            <div class="search fa fa-search"></div>
        </div>

    </div>
</body>
</html>