<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>E3 Lithium</title>
</head>
<body>
    <div class="header">
        <div id = space></div>
        <div id = headerSocials>
            <ul>
                <li><a href="facebook.com" class="fa fa-instagram"></a></li>  
                <li><a href="facebook.com" class="fa fa-twitter"></a></li>
                <li><a href="facebook.com" class="fa fa-facebook"></a></li>
                <li><a href="facebook.com" class="fa fa-linkedin"></a></li> 
                <div class = border>
                    <li><b>TSX.V:</b> ETL</li>
                </div>
                <li class="border"><b>FSE:</b> OW3</li>
                <li><b>OTCQX:</b> EEMMF</li>   
            </ul>
      
    </div>
</body>
</html>