<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <title>E3 Lithium</title>
</head>
<body>
    <div class="header">
        <div id = headerSocials>
            <ul>
                <div class="hover"><li><a href="facebook.com" class="fa fa-instagram"></a></li>  </div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-twitter"></a></li></div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-facebook"></a></li></div>
                <div class="hover"><li><a href="facebook.com" class="fa fa-linkedin"></a></li></div>
                <div class="hover borderRight"><li><a href="facebook.com"> <b>TSX.V:</b> ETL</a></li></div>
                <div class="hover borderRight"><li><b>FSE:</b> OW3</li></div>
                <div class="hover"><li><b>OTCQX:</b> EEMMF</li></div>
            </ul>
        </div>
    </div>
    <div class="backGroundMenu">
        <div class="menu">
            <div class="companyName"><a href="google.ca"><img src="../images/whiteE3LithiumLogo.svg"></a></div>
            <div class="borderHover"><a href="google.ca">Corporate</a>
                <div class="dropdown-content">
                    <a class=menuHover href="#">About us</a>
                    <a class=menuHover href="#">Management</a>
                    <a class=menuHover href="#">Board & Advisors</a>
                    <a class=menuHover href="#">Corporate Directory</a>
                </div>
            </div>
            <div class="borderHover"><a href="google.ca">Our Assets</a>
                <div class="dropdown-content">
                    <a class=menuHover href="#">Technology</a>
                    <a class=menuHover href="#">Resources</a>
                    <a class=menuHover href="#">Operations</a>
                    <a class=menuHover href="#">Alberta Advantage</a>
                    <a class=menuHover href="#">Technical Reports</a>
                    <a class=menuHover href="#">About Lithium</a>
                </div>
            </div>
            <div class="borderHover"><a href="google.ca">Sustainability</a></div>
            <div class="borderHover"><a href="google.ca">Investors</a></div>
            <div class="borderHover"><a href="google.ca">Newsroom</a></div>
            <div class="borderHover"><a href="google.ca">Contact</a></div>
            <div class="search fa fa-search"></div>
        </div>
        <div class="newsSection">
            <div class=news>
                <div class="bluebackground">
                    <div class="bluebackgroundPad">
                        <h2>E3 Lithium signs transformational agreement with Imperial Oil</h2>
                        <div class="readmore">
                            <p>Read More</p>
                            <div class="circleBorder">
                                <div class="fa fa-long-arrow-right"></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="signUp">
                <div class=signupHeader><h1>Unlocking a new source of Canadian lithium</h1></div>
                <div class="greenBackground">
                    <h2>Sign up to learn more about E3</h2>
                </div> 
            </div>
        </div> 
    </div>
</body>
</html>