.backGroundMenu{
    background: url('../images/backgroundHome.jpg');
    background-size: cover;
    height: 800px;
    a{
        text-decoration: none;
        color: white;
        font-size: 19px;
        font-family: $headerFont;
        letter-spacing: 0px;
    }
    .fa{
        color: white;
        font-size: 20px;
        padding: 15px 25px;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px;
        align-items: center;
    }
    .companyName{
        width: 388px;
        height: 60px;
        margin-right: auto;
    
        img{
            width: 100%;
            height: 100%;
        }
    }
    .borderHover{
        padding: 15px 25px;
        display: inline-block;
        position: relative;
   
    }

    .borderHover:hover  .dropdown-content{
        visibility: visible;
        opacity: 1;
       
    }     
    //order matters here, will not work if below the ::after i guess
    .borderHover:after{
        display: block;
        content: '';
        border-bottom: 2px solid #3d7fbc;
        transform: scaleX(0);
        transition: 250ms ease-in-out;
    }
    .borderHover:hover::after{
        transform: scaleX(1);
        transform-origin: 0% 50%;
        display: block;
    }
    .dropdown-content{
        visibility: visible;
        position: absolute;
        opacity: 0;
        z-index: 1;
        background-color: white;
        transform: translateY(15px) translateX(-80px);
        padding: 20px 0px;
        transition: 0.5s ease-in-out; //this makes it so ease in and out work, if you do it on the hover it will only work on the IN part
        a{      
            display:block;
            text-decoration: none;
            padding: 15px 76px;
            color: black;
            font-family: $headerFont;
            width: 150px;
            white-space: nowrap;
            text-align: left;
        }
    .menuHover:hover{
        opacity: 50%;
        transition: ease-in-out 0.25s;
    }
    }
}
.scrolled{
        position: sticky;
        top: 35px;
        display: flex;
        justify-content: flex-end;
        padding: 20px 40px;
        align-items: center;
        background: white;
        a{
            color: black;
        }
}