.backGroundMenu{
    background: url('../images/backgroundHome.jpg');
    width: 100vw;
    height:839px;
    
    a{
        text-decoration: none;
        color: white;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        .companyName{

        }
    }
}
