* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  height: 36px;
  background-color: #4d4d4f;
  justify-content: flex-end;
  width: 100vw;
}
.header #headerSocials {
  padding-right: 40px;
  padding-left: 40px;
}
.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.header li {
  color: white;
  font-family: neue-haas-grotesk-text, sans-serif;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 15px;
}
.header a {
  text-decoration: none;
  color: white;
}
.header .borderRight {
  border-right: 1px solid white;
}
.header .hover :hover {
  opacity: 80%;
  transition: ease-in-out 0.25s;
}

.backGroundMenu {
  background: url("../images/backgroundHome.jpg");
  background-size: cover;
  height: 800px;
}
.backGroundMenu a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-family: neue-haas-grotesk-text, sans-serif;
  letter-spacing: 0px;
}
.backGroundMenu .fa {
  color: white;
  font-size: 20px;
  padding: 15px 25px;
}
.backGroundMenu .menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  align-items: center;
}
.backGroundMenu .companyName {
  width: 388px;
  height: 60px;
  margin-right: auto;
}
.backGroundMenu .companyName img {
  width: 100%;
  height: 100%;
}
.backGroundMenu .borderHover {
  padding: 15px 25px;
  display: inline-block;
  position: relative;
}
.backGroundMenu .borderHover:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}
.backGroundMenu .borderHover:after {
  display: block;
  content: "";
  border-bottom: 2px solid #3d7fbc;
  transform: scaleX(0);
  transition: 250ms ease-in-out;
}
.backGroundMenu .borderHover:hover::after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
  display: block;
}
.backGroundMenu .dropdown-content {
  visibility: visible;
  position: absolute;
  opacity: 0;
  z-index: 1;
  background-color: white;
  transform: translateY(15px) translateX(-80px);
  padding: 20px 0px;
  transition: 0.5s ease-in-out;
}
.backGroundMenu .dropdown-content a {
  display: block;
  text-decoration: none;
  padding: 15px 76px;
  color: black;
  font-family: neue-haas-grotesk-text, sans-serif;
  width: 150px;
  white-space: nowrap;
  text-align: left;
}
.backGroundMenu .dropdown-content .menuHover:hover {
  opacity: 50%;
  transition: ease-in-out 0.25s;
}

.newsSection .fa {
  -webkit-text-size-adjust: 1px white;
  padding: 0;
  font-weight: normal;
}
.newsSection .news {
  width: 505px;
  height: 192px;
  background-color: #3F87CE;
  color: white;
  font-family: neue-haas-grotesk-text, sans-serif;
  overflow: auto;
  display: inline-block;
  margin-top: 165px;
  margin-left: 70px;
  overflow: hidden;
  opacity: 90%;
}
.newsSection .news h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
}
.newsSection .news .bluebackgroundPad {
  padding: 35px 45px;
}
.newsSection .signUp {
  display: flex;
  color: white;
  font-family: neue-haas-grotesk-text, sans-serif;
  padding: 50px 70px;
}
.newsSection .signUp h1 {
  font-weight: 100;
  font-size: 75px;
  max-width: 850px;
  margin-right: 50px;
}
.newsSection .greenBackground {
  padding: 40px 50px;
  background-color: #8EBC52;
  max-width: 400px !important;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  opacity: 90%;
}

.readmore-signup {
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-size: 18px;
}
.readmore-signup p {
  font-weight: bold;
  padding-right: 15px;
}

.circleBorder {
  border: 1px solid white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke-dasharray: 116.239;
  transform-origin: center center;
}
.circleBorder :hover {
  -webkit-animation: spin 1s;
          animation: spin 1s;
}

@-webkit-keyframes spin {
  25% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  25% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=style.css.map */